.block-text-columns-flexible {
  article {
    font-size: $font-size-base;
    line-height: 24px;

    &.col3 {
      column-width: 280px;

      @include small-up {
        column-width: 380px;
      }
    }

    &.col4 {
      column-width: 210px;

      @include small-up {
        column-width: 310px;
      }
    }
  }
}
