.block-grid-gallery-switch {
  .gallery-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;

    @include small-up {
      gap: 1rem;
    }

    .gallery-img {
      overflow: hidden;
      min-height: 80px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: all 0.3s ease-in-out;

      @include small-up {
        min-height: 150px;
      }

      @include medium-up {
        min-height: 300px;
      }

      &:hover {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        background-size: 110% 110%;
      }
    }

    &.main-left .gallery-img:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &.main-center {
      .gallery-img:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      .gallery-img:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    &.main-right .gallery-img:nth-child(5) {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .text-block {
    margin-bottom: 20px;

    @include medium-up {
      margin-bottom: 60px;
    }

    &__content {
      margin: auto 20px 40px;

      @include small-plus {
        max-width: $section-max-width;
        margin: auto auto 40px;
      }
    }
  }

  h2 {
    text-align: center;
    font-size: 28px;
    line-height: inherit;
    margin: 20px 0;

    @include small-up {
      margin: 20px 0;
      font-size: 40px;
    }

    @include medium-up {
      line-height: 30px;
    }
  }

  img {
    height: 100px;
    width: auto;
    margin: auto;
  }
}
