.wp-block-woocommerce-slider {
  padding-bottom: 100px;

  .container {
    max-width: 1440px;
  }

  .woo-inner {
    background-color: #eaeff3;
    margin: 0 10px;
  }

  h2 {
    font-weight: 600;
    color: #484a48;
    font-size: 30px;
    line-height: 35px;
    padding: 30px 30px 60px;
    text-align: center;
  }

  .woo-content {
    padding: 13px 16px 11px;

    h3 a {
      font-weight: 400;
      color: #686b6a;
      font-size: 15px;
      margin: 0;
    }

    p {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      color: #484a48;
      margin: 0;
    }
  }

  .btn-primary {
    display: block;
    border-color: #e65928;
    background-color: #e65928;
    color: #fff;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 22px;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    outline: none;
    text-transform: capitalize;
  }

  .slick-list {
    padding-left: 0 !important;
  }
}
