.block-menu-preview {
  position: relative;
  overflow: hidden;
  // padding: 150px 0 80px;

  // @include medium-up {
  //   padding: 120px 0;
  //   padding-top: 355px;
  // }

  .bg-big-fish {
    position: absolute;
    width: 1000px;
    height: 585px;
    right: -684px;
    top: -5%;
    z-index: 2;

    @include small-up {
      right: -384px;
      top: -10%;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 228px;
  }

  .container {
    &.narrow {
      max-width: 1120px;
    }
  }

  .heading--2 {
    margin-bottom: 0;
  }

  &__grid {
    margin-top: 22px;
    gap: 42px;
    align-items: baseline;

    @include small-up {
      margin-top: 79px;
      grid-template-columns: repeat(2, 1fr);
      gap: 38px;
    }

    @include medium-up {
      margin-top: 79px;
      grid-template-columns: repeat(3, 1fr);
      gap: 38px;
    }

    &.grid4 {
      @include medium-up {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    &-date {
      display: block;
      font-weight: bold;
      border-bottom: 1px solid grey;
      width: 30%;
      color: blue;
      margin: 16px 0 12px;
    }

    &--btn {
      padding-bottom: 20px;

      .btn_right {
        background-color: white;
        border: 2px solid #0f2351;
        color: #0f2351;
        margin-top: 15px;
        margin-left: 0;

        @include small-up {
          margin-top: 0;
          margin-left: 5px;
        }
      }

      .btn {
        letter-spacing: normal;
      }
    }

    &--main-img {
      position: relative;
      margin-bottom: 50px;

      img {
        height: auto;
      }
    }

    &-info {
      display: flex;

      &--img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 89px;
        height: 89px;
        background-color: $blue-light;
        position: absolute;
        border-radius: 50%;
        right: 30px;
        bottom: -12px;

        .img {
          display: inline-block;
          width: auto;
        }
      }
    }

    p {
      font-weight: 500;
      margin-bottom: 40px;
    }

    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 17px;
      color: $blue-dark;
      margin-bottom: 35px;
    }
  }
}
