.block-rooms-slider {
  padding: 3rem 0 6em;

  .container {
    width: 90%;
  }

  @include xxl-up {
    .container {
      width: in;
    }
  }

  &__content {
    text-align: center;

    img {
      margin: auto;
    }
  }

  &__intro {
    max-width: $section-max-width;
    margin: auto;
    margin-bottom: 40px;
    text-align: initial;
  }

  &__room_snippet {
    line-height: 1.4rem;
  }

  &__tile {
    padding: 20px;
    background-color: $white;
    margin: 0 10px;
    display: flex !important;
    flex-direction: column;

    &.book-btn-option,
    &.read-btn-option {
      height: 540px;

      @include medium-up {
        height: 580px;
      }
    }
  }

  &__image {
    width: auto;
  }

  &__room_content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .btn-wrapper {
      height: initial;
      margin-top: auto;
    }
  }

  .grid {
    .price {
      font-size: 18px;
      font-weight: 600;
      text-align: center;

      @include medium-up {
        text-align: initial;
        font-size: 22px;
      }

      @include xl-up {
        font-size: 28px;
      }

      span {
        font-size: initial;
        margin-right: 5px;
      }
    }

    &.btn-wrapper {
      height: initial;
      margin-top: auto;
    }
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
    margin: 20px 0;

    @include small-up {
      font-size: 40px;
      margin: 20px 0;
    }

    @include medium-up {
      line-height: 30px;
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 600;
    color: $gray-dark;
    margin: 15px 0;
  }

  .slick-arrow {
    background-color: $button-bg-color;
    padding: 10px 5px;
    width: auto;
    height: auto;
    z-index: 100;

    @include small-up {
      padding: 15px 12px;
    }

    &.slick-next {
      right: -30px;
    }

    &.slick-prev {
      left: -30px;
    }

    @include small-up {
      &.slick-next {
        right: -45px;
      }

      &.slick-prev {
        left: -45px;
      }
    }

    @include medium-up {
      &.slick-next {
        right: -60px;
      }

      &.slick-prev {
        left: -60px;
      }
    }

    &.slick-prev,
    &.slick-next {
      z-index: 100;

      &::before {
        font-family: initial;
        font-size: 20px;
        line-height: 6px;
        font-weight: 600;
        opacity: 1;
      }
    }

    &.slick-next::before {
      content: url("../../images/svg/arrow-right-white.svg");
    }

    &.slick-prev::before {
      content: url("../../images/svg/arrow-left-white.svg");
    }
  }

  .btn-wrapper {
    // margin-top: 10px;
    // grid-template-columns: repeat(2, 1fr);

    @include large-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .basic-btn {
    background-color: $button-bg-color;
    border-radius: $border-radius;

    &.read-more {
      width: 100%;
    }

    &:hover {
      background-color: $white;
    }
  }

  .slick-track {
    display: flex !important;
  }

  // .slick-slide {
  //   height: inherit !important;
  // }
}
